@import 'settings/index';

.demo-form {
  width: 100%;
  max-width: 500px;
}

.panel {
  margin-bottom: $size-md;
  border: 1px solid $color-border-light;

  &--header {
    padding: $size-xs $size-md;
    background-color: $color-background-gray-light;
    font-size: 16px;
    font-weight: 600;
  }

  &--body {
    padding: $size-md;
  }
}
