.background-cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-white {
  background-color: #ffffff;
}

.bg-primary {
  background-color: $color-theme;
}
