.b-r-none {
  border-radius: 0;
}

.b-r-xs {
  border-radius: 1px;
}

.b-r-sm {
  border-radius: 3px;
}

.b-r-md {
  border-radius: 6px;
}

.b-r-lg {
  border-radius: 12px;
}

.b-r-xl {
  border-radius: 24px;
}

.b-r-rounded {
  border-radius: 100px;
}

.b-r-circle {
  border-radius: 50%;
}
