.full-width {
  width: 100%;
}

@media only screen and (max-width: $mq-mobile-max) {
  .#{$mobile-prefix}-full-width {
    width: 100%;
  }
}

@media only screen and (max-width: $mq-tablet-max) {
  .#{$tablet-prefix}-full-width {
    width: 100%;
  }
}

.full-height {
  height: 100%;
}

.overflow-hidden {
  overflow: hidden;
}

.cursor-pointer {
  cursor: pointer;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.scroll-touch {
  @include scroll-touch;
}

.no-scrollbar {
  @include no-scrollbar;
}

.visibility-hidden {
  @include visibility(hidden);
}

.unselectable {
  user-select: none;
}

.list-unstyled {
  @include list-unstyled;
}

// haha
.stay-above {
  position: relative;
  z-index: 1;
}
