@import 'settings/index';

.dp-toggle,
.dp-input {
  transition: $transition-common;
  cursor: pointer;
}

.dp-toggle {
  position: absolute;
  background-color: transparent;
  top: 0;
  left: 0;
  width: 40px;
  height: 100%;
  border-radius: 0;
  border: 0;
  border-right: 1px solid $color-border;
}

.dp-input {
  padding-left: 40px + $size-sm;

  &:hover {
    border-color: $color-gray-4;
  }

  &:focus {
    border-color: $color-theme;
  }

  &.ng-invalid.ng-touched {
    border-color: $color-border;
  }
}

:host {
  display: block;

  &:focus {
    .dp-toggle {
      border-color: $color-theme;
    }

    .dp-input {
      border-color: $color-theme;
    }
  }

  &:hover {
    .dp-toggle {
      border-color: $color-gray-4;
    }

    .dp-input {
      border-color: $color-gray-4;
    }
  }

  &.ng-invalid.ng-touched {
    .dp-toggle {
      border-color: $color-red;
    }

    .dp-input {
      border-color: $color-red;
    }
  }
}
