<div class="input-group">
  <div class="dp-toggle input-group-prepend" (click)="toggle()">
    <span class="text text-gray">
      <i class="icon icon-calendar"></i>
    </span>
  </div>
  <input class="dp-input form-input" [placeholder]="placeholder" [name]="name" [(ngModel)]="value" (ngModelChange)="writeValue($event)"
    ngbDatepicker #dpElement="ngbDatepicker" [startDate]="startDate" [minDate]="minDate" [maxDate]="maxDate" [readonly]="true"
    [required]="required" [disabled]="disabled" tabindex="-1" (click)="toggle()"
  >
</div>
