.dropdown-menu {
  display: none;
  min-width: 100px;
  max-height: none;
  margin: $size-xs 0 0;
  padding: 0;
  font-size: 13px;
  background-color: #ffffff;
  box-shadow: $color-box-shadow;
  z-index: $z-index-dropdown;

  &.show {
    display: block;
  }
}

.dropdown-toggle {
  cursor: pointer;
}

.dropdown-item {
  display: block;
  padding: $size-xs $size-xs * 2;
  color: $color-text;
  background-color: #ffffff;
  transition: $transition-common;
  cursor: pointer;

  &:hover {
    background-color: $color-background-gray-light;
  }

  &.active {
    color: $color-theme;
    background-color: #f4fafc;
  }
}
