.form-row {
  $form-gutter: 10px;

  margin: 0 (-$form-gutter);

  .form-control {
    padding: 0 $form-gutter;
    margin-bottom: 20px;
  }
}

.form-label {
  display: block;
  min-height: 18px;
  margin-bottom: 6px;
  font-size: 13px;
  font-weight: 600;

  &.required::after {
    content: ' *';
    color: $color-red;
  }
}

.form-input {
  width: 100%;
  color: $color-text;
  padding: 8px $size-sm;
  border: 1px solid $color-border;
  transition: $transition-common;
  resize: vertical;

  &.ng-invalid.ng-touched {
    border: 1px solid $color-red;
  }

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $color-gray-4;
  }

  &::-moz-placeholder { /* Firefox 19+ */
    color: $color-gray-4;
    opacity: 1;
  }

  &:-ms-input-placeholder { /* IE 10+ */
    color: $color-gray-4;
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: $color-gray-4;
    opacity: 1;
  }

  &:hover {
    border-color: $color-gray-4;
  }

  &:focus {
    border-color: $color-theme;
  }

  &[disabled] {
    cursor: not-allowed;
    background-color: $color-background-gray-light;
  }
}

.form-text {
  font-size: 11px;
  margin-top: 5px;
}

.input-group {
  display: flex;
  position: relative;
}

.input-group-prepend {
  position: relative;
  min-width: 40px;
  text-align: center;
  border: 1px solid $color-border;
  border-right: 0;

  .btn {
    padding: 0;
    width: 100%;
    height: 100%;
    color: $color-gray-2;
  }

  .text {
    height: 100%;
    padding: 0 $size-xs;

    @include flex-center;
  }
}

.input-group-text {
  @include center-absolute;
}

.asterisk {
  display: inline;
  font-style: normal;
  font-size: 11px;
  vertical-align: text-top;
  color: $color-red;

  &::after {
    content: ' *';
  }
}
