.link {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: $transition-common;

  &:hover,
  &.active {
    color: $color-theme;
  }

  &.no-highlight {
    &:hover,
    &.active {
      color: inherit;
    }
  }
}
