/* stylelint-disable */

// Kill the scroll on the body
.modal-open {
  overflow: hidden;
}

// Container that the modal scrolls within
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-index-modal;
  display: none;
  overflow: hidden;
  outline: 0;

  .modal-open & {
    overflow-x: hidden;
    overflow-y: auto;
  }

  &.transparent {
    .modal-content,
    .modal-header {
      background-color: transparent;
    }
  }
}

// Shell div to position the modal with bottom padding
.modal-dialog {
  position: relative;
  width: 100vw;
  margin: 60px auto;
  // allow clicks to pass through for custom click handling to close modal
  pointer-events: none;

  @include flex-center;
}

.modal-content {
  position: relative;
  display: inline-block;
  width: auto;
  pointer-events: auto;
  background-color: #ffffff;
  outline: 0;
  box-shadow: 1px 4px 12px 0 rgba(0, 0, 0, 0.3);
  opacity: 0;
  transform: translateY(-10px);
  animation: fadeIn 0.3s ease-in-out 0.1s forwards;

  @media only screen and (max-width: $mq-mobile-max) {
    width: calc(100vw - #{$site-padding} * 2);
  }
}

.modal-header {
  background-color: #ffffff;
  height: 32px;

  .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    border: 0;
    color: $color-gray-2;
    background-color: $color-gray-5;
    cursor: pointer;
  }
}

.modal-body {
  position: relative;
  padding: 20px $size-lg 45px;
  max-width: 100%;

  @media only screen and (max-width: $mq-mobile-max) {
    padding: $size-sm $size-sm $size-xl;
  }

  &.sm {
    width: 500px;
  }

  &.md {
    width: 750px;
  }

  &.lg {
    width: 1000px;
  }
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-index-modal-backdrop !important;
  background-color: rgba(0, 0, 0, 0.5);

  &.fade {
    opacity: 0;
  }

  &.show {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
