.radio-button {
  display: inline-block;
  position: relative;
  cursor: pointer;

  .text {
    padding-left: 25px;

    &::before,
    &::after {
      font-family: "b3shark", sans-serif;
      font-size: 16px;
      position: absolute;
      top: -2px;
      left: 0;
      width: 16px;
      height: 16px;
    }

    &::before {
      display: block;
      content: "\f10c"; // icon-circle-o
      color: $color-gray-3;
    }

    &::after {
      display: none;
      content: "\f05d"; // icon-check-circle-o
      color: $color-theme;
    }
  }

  input {
    display: none;
  }

  input:checked ~ .text {
    &::before {
      display: none;
    }

    &::after {
      display: block;
    }
  }

  input:disabled ~ .text {
    color: $color-gray-4;
    cursor: not-allowed;

    &::before,
    &::after {
      color: $color-gray-4;
    }
  }
}
