@import 'settings/index';

:host {
  display: block;

  &:focus .form-dropdown .dropdown-toggle {
    border-color: $color-theme;
  }

  &:hover .form-dropdown .dropdown-toggle {
    border-color: $color-gray-4;
  }

  &.ng-invalid.ng-touched {
    .form-dropdown .dropdown-toggle {
      border-color: $color-red;
    }
  }
}

.placeholder {
  color: $color-gray-4;
}
