<div ngbDropdown class="form-dropdown" [class.mobi-as-modal]="mobileShowAsModal" #dropdownEl="ngbDropdown"
     [placement]="placement">
  <a ngbDropdownToggle>
    <span class="placeholder" *ngIf="!selectedItem">{{ placeholder || '&nbsp;' }}</span>
    <span *ngIf="selectedItem">{{ getLabel(selectedItem) }}</span>
  </a>
  <ul ngbDropdownMenu *ngIf="data && data.length > 0">
    <li *ngFor="let item of data" (click)="onSelectItem(item)">
      <a class="dropdown-menu-item" [class.active]="isActive(item)">
        {{ getLabel(item) }}
      </a>
    </li>
  </ul>
</div>
