<div class="modal-header">
  <button data-dismiss="modal" class="close" type="button" (click)="activeModal.dismiss('closed')">
    <i class="icon icon-cancel icon--sm"></i>
  </button>
</div>
<div class="modal-body sm">
  <div class="confirm-body">
    <div class="title" *ngIf="title">
      {{ title }}
    </div>
    <div [innerHTML]="content | safeHtml" *ngIf="content"></div>
  </div>
  <div class="flex-center">
    <button class="btn btn--box btn--secondary btn--fixed m-r-sm {{ noButtonClass }}" type="button" (click)="activeModal.dismiss('no')">{{ noButtonLabel }}</button>
    <button class="btn btn--fixed {{ yesButtonClass }}" type="button" (click)="submit()">{{ yesButtonLabel }}</button>
  </div>
</div>
