// theme colors
$color-theme: #20a1cc;
$color-theme-opaque: #dbecf8;
$color-red: #ff3b3f;
$color-orange: #f6a926;
$color-green: #19a699;
$color-gray-1: #525c65;
$color-gray-2: #757d84;
$color-gray-3: #979da3;
$color-gray-4: #b9bdc0;
$color-gray-5: #dcdee0;
$color-gray-6: #f6f7f7;

// alias colors
$color-danger: $color-red;
$color-warning: $color-orange;
$color-success: $color-green;
$color-text: $color-gray-1;
$color-text-gray: $color-gray-2;
$color-text-sub: $color-gray-3;
$color-border: $color-gray-5;
$color-border-light: rgba($color-gray-5, 0.5);
$color-background-gray-light: $color-gray-6;

// other colors
$color-box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.2);
$color-backdrop: rgba(50, 50, 50, 0.3);
